.carritoVacioContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
.TitleVacio{
    color: white;
    font-size: 3rem;
}
.botonComprar{
    width: 200px;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

.Title{
    text-align: start;
    margin-left: 55px;
    font-size: 2.5rem;

}
.carritoMainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.813);
    margin-top: 50px;
}
.carritoContainer{
    width: 100%;
    height: 25vh;
    display: flex;
    gap: 80px;
}
.carritoImg{
    margin-left: 8%;
    width: 300px;
}
.carritoText{
    color:#6B7C9A ;
    padding-top: 5%;
    width: 200px;
}
.botonRemove{
    width: 5%;
    height: 40%;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 10% ;
    border: none;
    cursor: pointer;
}
.totalContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Total{
    font-size: 2.2rem;
    margin-left: 50px;
}
.vaciarCarrito{
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 7%;
    border:none;
    margin-top: 10px;
    margin-bottom: 20px;
}
