*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
}

body{
  position: relative;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1729%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(36%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(0%2c 0)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(0%2c 336)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(336%2c 0)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(336%2c 336)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(672%2c 0)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(672%2c 336)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(1008%2c 0)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(1008%2c 336)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(1344%2c 0)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1736' transform='translate(1344%2c 336)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1729'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1731'%3e%3cpath d='M2.524 8.637H0.014V7.308h2.51v1.329zM3.656 4.576L1.884 2.804l0.935-0.935 1.772 1.772-0.935 0.935z m0 6.817l0.935 0.935-1.772 1.773-0.934-0.936 1.771-1.772z m4.997-8.884h-1.33V-0.002h1.33v2.511z m-1.33 10.952h1.33v2.51h-1.33v-2.509zM12.344 4.576l-0.96-0.935 1.796-1.772 0.935 0.935-1.772 1.772z m0 6.792l1.771 1.797-0.935 0.936-1.771-1.774 0.936-0.96z m3.643-4.06v1.329h-2.51V7.308h2.509z'%3e%3c/path%3e%3cpath d='M3.702 7.984a4.184 4.184 0 1 0 8.368 0 4.184 4.184 0 1 0-8.368 0'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1735'%3e%3cpath d='M15.294 10.895l-6.741-3.979V6.238c0-0.768-0.838-1.102-0.838-1.101-0.542-0.264-0.494-0.834-0.494-0.835 0-0.669 0.598-0.884 0.865-0.883 0.448 0 0.888 0.249 0.935 0.817 0.073 0.893 1.084 0.666 1.083-0.051C10.106 3.508 9.488 2.32 8.079 2.32 6.556 2.32 6.118 3.809 6.118 4.28c0 0.355 0.056 0.683 0.276 1.058 0.373 0.636 1.118 0.736 1.118 1.157v0.421L0.702 10.91C0.03 11.307-0.091 12.15 0.055 12.662c0.142 0.497 0.64 1.089 1.537 1.089h12.729c1.003 0 1.461-0.576 1.604-1.072 0.144-0.51 0.144-1.304-0.632-1.783z m-0.956 1.739H1.612c-0.414 0.016-0.67-0.564-0.261-0.82L7.99 7.938l6.604 3.859c0.41 0.29 0.188 0.836-0.256 0.837z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1734'%3e%3cpath d='M6.515 16c0.255 0 0.46-0.208 0.46-0.466a0.461 0.461 0 0 0-0.46-0.463c-0.254 0-0.459 0.208-0.459 0.463 0 0.257 0.205 0.466 0.459 0.466z m3.718-0.01c0.255 0 0.461-0.21 0.461-0.47 0-0.257-0.206-0.466-0.461-0.466-0.253 0-0.458 0.209-0.458 0.466 0 0.26 0.205 0.47 0.458 0.471z m-4.626-1.376s-0.27-0.014-0.27-0.295v-0.026c0-0.277 0.27-0.296 0.27-0.295h5.516s0.271 0.026 0.271 0.295v0.026c0 0.27-0.271 0.295-0.271 0.295H5.607z m3.832-12.146c0.674 0 1.222-0.554 1.222-1.236C10.661 0.55 10.113 0 9.439 0c-0.674 0-1.222 0.55-1.222 1.232 0 0.682 0.548 1.237 1.222 1.236zM2.81 13.266A0.78 0.78 0 0 0 2.72 13.633c0 0.434 0.349 0.788 0.782 0.788 0.31 0 0.577-0.182 0.704-0.445l2.667-4.634-1.108-1.118L2.81 13.266z'%3e%3c/path%3e%3cpath d='M8.165 13.058c-0.116 0.263-0.361 0.445-0.648 0.445-0.396 0-0.718-0.354-0.717-0.787 0-0.136 0.03-0.26 0.083-0.37l1.069-2.062-2.086-2.275c-0.801-0.883-0.23-1.837-0.23-1.837l1.123-2.177-2.979 0.004c-0.33 0-0.591-0.292-0.591-0.649 0-0.354 0.262-0.645 0.591-0.645H12.797c0.326 0 0.588 0.292 0.588 0.649 0 0.357-0.263 0.645-0.588 0.645H9.357L7.716 7.152l1.671 1.812c0.585 0.616 0.206 1.309 0.206 1.309L8.165 13.058z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1733'%3e%3cpath d='M15.98 13.856L11.694 9.568a6.304 6.304 0 1 0-5.388 3.04 6.26 6.26 0 0 0 3.26-0.914l4.29 4.292L15.98 13.856zM2.406 6.308a3.908 3.908 0 0 1 3.9-3.9 3.906 3.906 0 0 1 3.9 3.9 3.9 3.9 0 0 1-7.8 0z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1732'%3e%3cpath d='M1.316 13.81h14.019V3.175H1.316v10.635z m12.302-9.643L9.143 8.635c-0.457 0.459-1.269 0.448-1.735-0.018l-4.444-4.45h10.648z m-11.31 0.693l3.626 3.638-3.637 3.644 0.007-7.278z m0.654 7.97l3.641-3.635 0.156 0.149c0.86 0.818 2.228 0.818 3.049 0l0.156-0.156 3.663 3.644h-10.667z m11.353-0.693L10.677 8.501 14.311 4.862V12.142z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1730'%3e%3cpath d='M2.816 11.596C7.028 13.367 10.228 14.4 14.735 15.821c0.092 0.015 0.177-0.049 0.192-0.145a0.175 0.175 0 0 0-0.142-0.2A131.354 131.354 0 0 1 0.841 10.193a0.255 0.255 0 0 0-0.335 0.134 0.241 0.241 0 0 0 0.134 0.323c0.316 0.143 0.625 0.281 0.928 0.412L0.567 11.825a0.349 0.349 0 0 0 0.102 0.495c0.127 0.084 0.303 0.073 0.425-0.004l1.722-0.72zM11.238 4.116a1.201 1.201 0 1 0-0.005-2.4 1.201 1.201 0 0 0 0.005 2.4'%3e%3c/path%3e%3cpath d='M8.73 7.037l2.557-1.257 2.371 2.185a0.596 0.596 0 0 0 0.41 0.167 0.577 0.577 0 0 0 0.379-1.008l-3.395-3.112a1.324 1.324 0 0 0-0.389-0.267l-2.638-0.939L6.822 1.068a0.575 0.575 0 0 0-0.954 0.64l1.226 1.774c0.058 0.073 0.128 0.131 0.212 0.172L8.727 4.209l-2.333 1.196a1.258 1.258 0 0 0-0.622 0.89l0.011 2.136-2.158 0.971a0.752 0.752 0 0 0-0.425 0.646 0.742 0.742 0 0 0 1.072 0.698l2.64-1.193a0.736 0.736 0 0 0 0.378-0.5l-0.006-1.326 1.833 1.639-0.337 2.793c0 0.019-0.004 0.038-0.005 0.055a0.746 0.746 0 0 0 1.487 0.131l0.393-3.189 0.004-0.043a0.756 0.756 0 0 0-0.23-0.568L8.73 7.037z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1736'%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(0%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(0%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(0%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(0%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(0%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(0%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(0%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(0%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(0%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(0%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(33.6%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(33.6%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(33.6%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(33.6%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(33.6%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(33.6%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(33.6%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(33.6%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(33.6%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(33.6%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(67.2%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(67.2%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(67.2%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(67.2%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(67.2%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(67.2%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(67.2%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(67.2%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(67.2%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(67.2%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(100.80000000000001%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(100.80000000000001%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(100.80000000000001%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(100.80000000000001%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(100.80000000000001%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(100.80000000000001%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(100.80000000000001%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(100.80000000000001%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(100.80000000000001%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(100.80000000000001%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(134.4%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(134.4%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(134.4%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(134.4%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(134.4%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(134.4%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(134.4%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(134.4%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(134.4%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(134.4%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(168%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(168%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(168%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(168%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(168%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(168%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(168%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(168%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(168%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(168%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(201.60000000000002%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(201.60000000000002%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(201.60000000000002%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(201.60000000000002%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(201.60000000000002%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(201.60000000000002%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(201.60000000000002%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(201.60000000000002%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(201.60000000000002%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(201.60000000000002%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(235.20000000000002%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(235.20000000000002%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(235.20000000000002%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(235.20000000000002%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(235.20000000000002%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(235.20000000000002%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(235.20000000000002%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(235.20000000000002%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(235.20000000000002%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(235.20000000000002%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(268.8%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(268.8%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1734' transform='translate(268.8%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(268.8%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(268.8%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(268.8%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(268.8%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(268.8%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(268.8%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(268.8%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(302.40000000000003%2c 0) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(302.40000000000003%2c 33.6) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(302.40000000000003%2c 67.2) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1732' transform='translate(302.40000000000003%2c 100.80000000000001) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1733' transform='translate(302.40000000000003%2c 134.4) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1735' transform='translate(302.40000000000003%2c 168) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1730' transform='translate(302.40000000000003%2c 201.60000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(302.40000000000003%2c 235.20000000000002) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(302.40000000000003%2c 268.8) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1731' transform='translate(302.40000000000003%2c 302.40000000000003) scale(1.6)' fill='rgba(195%2c 48%2c 48%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");



}
.logo{
  font-family: 'Passero One', cursive;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
.nav{
  background-color: #fffffff5;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 50px;
  padding: 15px 50px;
  color: white;
}
.lista-nav{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.li-lista{
  width: 80px;
}
.links{
  font-size: 1.2rem;
  cursor: pointer;
  padding: 20px 0px;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.links:hover{
  color: #f1c40f;
  border-bottom: 4px #f1c40f solid;
  transition: 0.5s;
}

@media screen and (max-width: 700px){
  .hamburguesa{
      display: flex;
      flex-direction: column;
      gap: 40px;
      cursor: pointer;
      padding: 10px;
      margin-right: -10px;
  }
  .lineas{
      display: block;
      background-color: white;
      height: 2px;
      width: 35px;
  }
  .lineas-rotate{
      background-color: rgb(85, 84, 84);
      border-radius: 5px;
  }
  .nav{
      position: relative;
      padding: 15px 20px;
  }
  .lista-nav{
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -310px;
      right: 0;
      background-color: #f1c40f;
      padding: 35px 0;
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 5px 5px rgba(128,128,128,0.363)
  }
  .li-lista{
      text-align: center;
      width: 90vw;
  }
  .links{
      color: rgba(12,11,11,0.836);
  }
  .links:hover{
      font-weight: bold;
      color: #191e24;
      border: none;
      letter-spacing: 3px;
  }
  .hide{
      top: 135px;
  }
  
}
#barra-busqueda{
  display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
border: 1px grey solid;
border-radius: 10px;
width: 150px;
transition: 0.4s;
}
.input {
  width: 100%;
  font-size: larger;
  outline: none;
  border: none;
}

.i{
  color: rgb(255, 9, 9);
  cursor: pointer;
}
/*Estilos DropDown navbar*/
nav {
  background-color: #333;
  padding: 10px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu button {
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 11%;
  right: 8%;
  width: 120px;
  border-radius: 5px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
}
/* Estilo para el dropdown abierto */

.navbar-menu.open .dropdown-menu {
  display: flex;
}


/*Estilos cards*/
.main-container{
  margin: 4% 0 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: white;

}
.cards {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  height: 457px;
  color: black;
}

.cards:hover {
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}
.cards img {
  width: 210px;
  margin-top: 20px;
  transition: 0.4s;
}

.cards img:hover {
  transition: 0.4s;
  transform: rotate(10deg) scale(1.2);
}
.img-mal{
    height: 210px;
}

.product-detail {
  color: rgb(0, 0, 0);
  padding: 0 14px;
}

.product-cost {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.buy-btn {
  width: 100%;
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 15px;
  font-weight: 500;
}
.buy-btn {
  cursor: pointer;
}